.background-rhisos {
  background-image: url("../img/bg-rhisos-cyber.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: #202020;
  background-position: center center;
  border-bottom: 0px;
}

.background-about-us {
  background-image: url("../img/bg-about-us.svg");
  background-attachment: fixed;
  background-size: cover;
  background-color: #011222;
  background-position: center center;
  border-bottom: 0px;
  height: 105%;
}

.background-rubu {
  background-image: url("../img/bg-rubu.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: #202020;
  background-position: center center;
  border-bottom: 0px;
}

.background-cyber {
  background-image: url("../img/bg-cyber.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: #202020;
  background-position: center center;
  border-bottom: 0px;
}

.background-nodi {
  background-image: url("../img/bg-nodi.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: #202020;
  background-position: center center;
  border-bottom: 0px;
}

html{
  position: relative;
  isolation: isolate;
}
html:before{
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  z-index: -1;
  opacity: 0.3;
}
