.carousel-card-item {
  width: 160px;
  height: 160px;
  border-radius: 25px;
  background-image: image("../assets/img/logo-rubuplus.svg");
  border: 1px solid rgba(41, 43, 70, 0.651);
  background-color: rgba(22, 23, 37, 0.651);
  box-shadow: 2px 2px 2px 0px #ffffff;
}

.card-img {
  width: 105px;

  /* margin-top: 71px;
  margin-left: 25px; */
  z-index: 1;
}

.card-text {
  margin-top: 3px;
  color: #f4f4f4;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
