/* Set the size of the div element that contains the map */
#map {
  margin-top: 25px;
  height: 250px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
#map iframe{
  width: 100%;
  height: 100%;
}

