.container {
  margin: 0 auto;
  padding: 0 3rem;
}

/*
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.column {
  padding-left: 1rem;
  padding-right: 1rem;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
} */
