@import "_navigation.css";

.logo {
  width: 200px;
}

.header {
  padding: 2rem;
  margin-bottom: -100px !important;
}

.active {
  color: #d10101 !important;
}

.active:after {
  content: "";
  border-bottom: 3px solid #d10101;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1px;
}
