.navbar {
  background: transparent;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  font-style: normal;
  transition: 0.5;
  opacity: 1;
}

/* .nav-link:hover {
  border-bottom: 2px solid #f2f2f2;
  padding: 0 0 4px;
} */

.nav-link {
  color: #f2f2f2d3 !important;
}

.bg-light {
  background-color: transparent !important;
}
