/* * {
  outline: none;
  box-sizing: border-box;
}

html,
body,
ul,
ol {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

figure {
  margin: 0;
} */

html {
  min-height: 100vh;
}
body {
  overflow-x: hidden !important;
}

.root {
  /* position: fixed !important; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  min-height: 110vh;
}

@media screen and (max-width: 639px) {
  .root {
    padding: 0 !important;
  }
}
