body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.thumbnail-slider {
    width: 100%;
    /*height: 100%;*/
    margin-bottom: 5px;
    float: left;
    overflow: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
   /* display: none;*/
    width: 4px; /* Remove scrollbar space */
   /* background: #b7b8ba;*/ /*
    Optional: just make scrollbar invisible */

}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b7b8ba;
}

.thumbnail-slider .thumbnail-container {
    width: 100%;
    float: left;
    transition: margin 1s ease;
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    -webkit-scrollbar: none;
}

.thumbnail-slider .item {
    display: flex;
    justify-content: center;
    background-color: grey;
    line-height: 150px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    float: left;
    width: 27%;
    margin-right: 18px;
    height: 120px;
    border-radius: 25px;
    background-image: image('../img/logo-rubuplus.svg');
    border: 1px solid rgba(41, 43, 70, 0.651);
    background-color: rgba(22, 23, 37, 0.651);
    box-shadow: 2px 2px 2px 0px #ffffff;
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .thumbnail-slider .item {
        width: 100% !important;
    }
}

.thumbnail-slider .selected {
    background-color: rgba(123, 124, 139, 0.651);
    box-shadow: 2px 2px 2px 0px #030303;
}

.controls {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 0px 15px;
    justify-content: center;
}

.controls .h5 {
    margin-left: auto;
    margin-right: auto;
}

.thumbnail-slider .controls ul {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.thumbnail-slider .controls ul li {
    height: 35px;
    width: 35px;
    border: 1px solid #c3c3c3;
    margin: 4px;
    display: inline-block;
    line-height: 33px;
    cursor: pointer;
}

.thumbnail-slider .controls ul li.active {
    background-color: green;
    color: #ffffff;
}

.carousel-card-item {
    width: 160px;
    height: 160px;
    border-radius: 25px;
    background-image: image("../assets/img/logo-rubuplus.svg");
    border: 1px solid rgba(41, 43, 70, 0.651);
    background-color: rgba(22, 23, 37, 0.651);
    box-shadow: 2px 2px 2px 0px #ffffff;
}

.card-img {
    padding: 25px;
    justify-content: center;
    /* margin-top: 71px;
     margin-left: 25px;*/
    z-index: 1;
}

.card-text {
    margin-top: 3px;
    margin-bottom: 15px !important;
    color: #f4f4f4;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
}
