@font-face {
    font-family: 'Isidora';
    src: url('../fonts/Latinotype-Isidora-Medium.otf') format('OpenType');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Isidora';
    src: url('../fonts/Latinotype-Isidora-Light.otf') format('OpenType');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Isidora';
    src: url('../fonts/Latinotype-Isidora-Bold.otf') format('OpenType');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

body {
    font-family: Isidora, sans-serif !important;
    font-weight: 500;
}

.header-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    font-family: Isidora, sans-serif;
    /* identical to box height */

    letter-spacing: 0.035em;
    position: relative;
    /* Light */

    color: #f4f4f4;
    padding: 20px 0 5px 0;
}

.header-bold:after {
    content: "";
    border-bottom: 3px solid red;
    width: 45%;
    display: block;
    margin: 5px 0 0 0;
}

.header-bold-30 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    /* identical to box height */

    letter-spacing: 0.035em;
    position: relative;
    /* Light */

    color: #f4f4f4;
    padding: 20px 0 5px 0;
}

.header-bold-30:after {
    content: "";
    border-bottom: 3px solid red;
    width: 35%;
    display: block;
    margin: 5px 0 0 0;
}

.p-body {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    padding: 20px 0;
    overflow: auto;
    max-height: 18rem !important;
    padding-right: 15px;
}
.p-contact{
    overflow: inherit !important;
}

.p-footer {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.05rem;
    align-items: center;
}
.p-footer:hover{
    color: #d8d8d8;
    /*font-size: 16px;*/
}

.p-footer i {
    align-items: center;
    margin-top: 3px;
    padding: 1rem 1rem;
    height: 17px;
}

.next-ico {
    margin-left: 1rem;

    height: 12px;
}

.markalarimiz:after {
    content: "";
    border-bottom: 3px solid red;
    width: 25%;
    display: block;
    margin: 0 0;
}

.card-text-main {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 150%;
    color: #979797 !important;
    padding: 0 !important;
    margin: 0 !important;
    /* or 150% */
}

.card-text-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 150%;
    color: #d8d8d8 !important;
}

.card-text-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px !important;
    line-height: 150%;
    color: #d8d8d8 !important;
}

.contact-main-header {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height */

    letter-spacing: 0.035em;
    position: relative;
    /* Light */

    color: #f4f4f4;
    padding: 0px 0 5px 0;
}
.form-button:hover{
    background-color: transparent;
    border: 1px solid #dc3545;
}