.form-control {
  background: transparent !important;
  border: solid 1px #b7b7b7 !important;
  color: white;
}

.form-control-placeholder {
  color: #c4c4c4;
  font-weight: 500;
  margin-left: 5px;
}

.form-control:focus{
  outline: none !important;
  box-shadow: none !important;
  color: #fff !important;
}

.form-control{
  color: #fff;
}